body {
    font-family: Arial, sans-serif;
    background-image: url("10.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #f7a1dd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #f54dd9;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 10px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #e0dee0 0%, #acaaab 100%);
    color: #fff;
    border: 2px solid #f7a1dd;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background: linear-gradient(90deg,  #e0dee0 0%, #acaaab 100%);
    color: #000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}


.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.post-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.post-item:hover {
    transform: scale(1.05);
}

.post-item img {
    width: 100%;
    height: auto;
}

.post-info {
    padding: 15px;
}

.post-info h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.post-info p {
    margin: 10px 0 0;
    color: #bba6a6;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.boton-inicio {
margin-right: 20px;
width: 150px; 
height: 40px;
background: linear-gradient(90deg, #a8a7a8 0%, #757475 100%);
color: #ffffff;
padding: 10px 20px;
border: 2px solid #6b6a6b;
cursor: pointer;
text-decoration: none;
display: flex;
font-size: 15px;
font-weight: bold;
text-align: center;
}

.boton-crearpubli {
    margin-right: 20px;
    width: 150px; 
    height: 40px;
    background: linear-gradient(90deg, #a8a7a8 0%, #757475 100%);
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #6b6a6b;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.imagen {
    width: 100;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 16px;
    border-radius: 8px;
}